@import 'src/css/variables';
@import 'src/css/mixins';

.Intro {
  // background-color: #F37121;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
  padding-top: 50px;
  height: 100%;
  text-align: left;

  // &:after {
  //   background: radial-gradient(#FAA61A, #FAA61A 33.333333%, #F68B1F 33.333333%, #F68B1F 66.666666%, transparent 66.666666%);
  //   content: '';
  //   display: block;
  //   width: 100vw;
  //   height: 100vw;
  //   position: absolute;
  //   top: 0;
  //   z-index: 0;
  //   left: -725px;
  //   // left: 0;
  //   margin: auto;
  //   // bottom: 0;
  //   right: 0;
  // }

  @include breakpoint(desktop) {
    padding-top: 80px;
  }

  &__content {
    display: flex;
    max-width: 1050px;
    margin: 0 auto;
    position: relative;
  }

  &__dictionary {
    border-right: 1px solid #000031;
    flex: none;
    font-size: 18px;
    padding-right: 15px;
    text-align: right;
    width: 270px;

    & > * {
      display: block;
    }

    &__title, &__phonetic {
      font-family: Arial, sans-serif;
      font-style: italic;
    }

    &__title {
      font-weight: bold;
    }

    &__definition, &__source {
      font-family: 'Open Sans', sans-serif;
    }

    &__definition {
      font-size: 14px;
    }

    &__source {
      font-size: 12px;
    }
  }

  &__text {
    padding-left: 15px;
  }

  &__heading {
    font-size: 28px;
    line-height: 33.6px;
    padding-top: 10px;
  }

  &__description {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 10px;
  }

  &__horizon {
    background: red;
    bottom: -336px;
    height: 336px;
    left: -725px;
    margin: auto;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    width: 336px;

    &:before {
      background: #F68B1F;
      border-radius: 1614px;
      content: '';
      display: block;
      height: 1614px;
      position: absolute;
      width: 1614px;
      z-index: -1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:after {
      background: #FAA61A;
      border-radius: 890px;
      content: '';
      display: block;
      height: 890px;
      position: absolute;
      width: 890px;
      z-index: -1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }


  // padding-left: 240px;
  // margin: 0 auto;
  // max-width: 960px;
  // position: relative;

  // &__content {
  //   border-left: 1px solid black;
  //   padding-left: 12px;
  // }

  // &__heading {
  //   font-size: 32px;
  //   font-weight: bold;
  // }

  // &__description {
  //   font-size: 20px;
  //   line-height: 1.4;
  // }

  // &__dictionary {
  //   position: absolute;
  //   left: -80px;
  //   text-align: right;
  //   padding-right: 12px;
  //   top: 0;
  //   width: 320px;

  //   & > * {
  //     display: block;
  //   }

  //   &__title {
  //     font-weight: bold;
  //   }
  // }
}
