@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  src: local('VNF-Gotham-Medium'), url('./fonts/VNF-Gotham-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: local('VNF-Gotham-Book'), url('./fonts/VNF-Gotham-Book.woff') format('woff');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 200;
  src: local('VNF-Gotham-Thin'), url('./fonts/VNF-Gotham-Thin.woff') format('woff');
}
