@import './normalize.scss';
@import './fonts.scss';

html {
  box-sizing: border-box;

  & *, & *:after, & *:before {
    box-sizing: inherit;
    z-index: 1;
  }
}

body {
  color: #000031;
  font-family: 'Gotham', sans-serif;
  // font-weight: 400;
}

.container {
  margin: 0 auto;
  max-width: 1366px;
}
