@import './normalize.scss';
@import './fonts.scss';
@import './variables.scss';

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  & *, & *:after, & *:before {
    box-sizing: inherit;
  }
}

body {
  color: $very-dark-blue;
  font-family: $font-family-gotham;
}

.container {
  margin: 0 auto;
  max-width: 1366px;
}
