// Breakpoints
$mobile: 576px;
$tablet: 920px;
$desktop: 1080px;

// Colors
$blue: #1877f2;
$dark-blue: #5a5b62;
$dark-orange: #f37121;
$dusty-red: #c74548;
$light-forest-green: #509a5a;
$medium-green: #36994a;
$orange: #f68b1f;
$pink: #f00075;
$squash: #e29a26;
$turquoise-blue: #00acda;
$very-dark-blue: #000031;
$white: #ffffff;
$yellowish-orange: #faa41a;

// Font Families
$font-family-gotham: 'Gotham', sans-serif;;
$font-family-open-sans: 'Open Sans', sans-serif;

// Layout Sizes
$header-height: 100px;
