@import 'src/css/variables';
@import 'src/css/mixins';

.Intro {
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: 'Gotham' !important;
  padding-top: 100px;
  position: relative;
  text-align: center;

  &__logo {
    height: 34px;
    margin: -35px auto 33px;
    width: 336px;

    @include breakpoint(phablet) {
      height: 54px;
      width: 540px;
    }
  }

  h2 {
    color: rgba(0, 0, 49, 0.5);
    font-size: 19px;
    padding: 0 38px;
  }

  &__parallax-background {
    background-image: linear-gradient(to top, red, transparent);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

  }

  &__parallax-container {
    align-items: center;
    background: transparent;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    position: fixed;
    width: 100%;
    top: 0;
    will-change: opacity, transform;
  }

  &__horizon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #F37121;
    z-index: -1;
  }
}
