@import 'src/css/variables';
@import 'src/css/mixins';

.Intro {
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: 'Gotham' !important;
  padding-top: 100px;
  text-align: center;

  &__logo {
    margin: -35px auto 33px;
  }

  h2 {
    color: rgba(0, 0, 49, 0.5);
    font-size: 19px;
  }
}
