@import 'src/css/variables';
@import 'src/css/mixins';

.Mainstay {
  background-image: linear-gradient(to top, $white);
  color: $very-dark-blue;
  padding-top: 1054px;
  position: relative;
  z-index: 300;

  @include breakpoint(tablet) {
    background-image: linear-gradient(to top, transparent, transparent 160px, $white 160px, $white);
    padding-bottom: 180px;
    padding-top: 90px;
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
    padding: 0 20px;
    z-index: 5000000;

    @include breakpoint(tablet) {
      flex-direction: row;
      margin: 0 auto;
      max-width: 960px;

      &__column-left {
        margin-left: 32px;
        margin-right: 14px;
        max-width: 600px;
        min-width: 500px;
        flex: 1;
        padding-top: 140px;
        width: 100%;
      }

      &__column-right {
        flex: none;
        margin-bottom: 40px;
      }
    }

    @include breakpoint(desktop) {
      max-width: 1024px;

      &__column-left {
        flex: none;
      }

      &__column-right {
        margin-right: 38px;
      }
    }
  }

  &__content {
    &__title {
      height: auto;
      display: block;
      margin: 0 auto 60px;
      position: absolute;
      width: 337px;
      z-index: 500;
      top: 336px;
      left: 0;
      right: 0;


      @include breakpoint(tablet) {
        margin: 0 0 53px;
        position: static;
        width: 350px;
      }
    }

    &__introduction {
      font-size: 26px;
      font-weight: 900;
      line-height: 1.23;
      margin-top: 0;
    }

    &__description {
      font-family: $font-family-open-sans;
      font-size: 16px;
      line-height: normal;

      strong {
        font-weight: 900;
      }
    }

    &__aroma-and-taste {
      margin-bottom: 20px;

      h4 {
        font-size: 28px;
        font-weight: 900;
        line-height: 1.14;
        margin-bottom: 20px;
        margin-top: 0;
      }

      p {
        font-family: $font-family-open-sans;
        font-size: 16px;
        line-height: normal;
      }
    }

    &__recipe {
      font-family: $font-family-open-sans;
      font-size: 18px;
      line-height: normal;

      dt {
        display: inline;
        font-weight: bold;
        margin-right: 5px;
      }

      dd {
        color: $very-dark-blue;
        display: inline;
        margin-left: 0;
        padding: 0;
        white-space: pre-wrap;

        &:after {
          content: '\A';
        }
      }
    }

  }

  &__bottle-image {
    height: 1054px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 375px;
    z-index: -1;

    &:after {
      background-image: linear-gradient(to top, rgba($white, 0), rgba($white, 0.83) 38%, $white);
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;

      @include breakpoint(tablet) {
        display: none;
      }
    }

    img {
      max-height: 100%;
      height: auto;
      width: 100%;
      z-index: -1 !important;
    }

    @include breakpoint(tablet) {
      margin-bottom: -180px;
      position: static;
      width: 340px;
    }
  }

  @include breakpoint(tablet) {
    &.Mainstay__reverse {
      .Mainstay__container {
        flex-direction: row-reverse;

        &__column-left {
          margin-left: 0;
          margin-right: 0;
          margin-right: 18px;
        }

        &__column-right {
          flex: 1;
          margin-left: 32px;
          margin-right: 14px;
        }
      }
    }
  }
}
