@import 'src/css/variables';
@import 'src/css/mixins';

.Mainstays {
  &__header {
    text-align: center;

    h2 {
      font-family: $font-family-gotham;
      font-size: 48px;
      font-weight: 900;
      margin-top: 140px;
    }
  }
}
